.FormInfo {
  margin-top: 40px;
  margin-left: 2vw;
}

.division{
  height: 1px;
  width: 431px;
  background: #C1C1C1;
}

.mainText{
  font-family: SF Pro Text;
  color: #2C295D;
}

.divisionTop{
  margin-top: 19px;
}

.urlBlock{
  width: 431px;
  height: 84px;
}

.managerBlock{
  margin-top: 2px;
}

.managerBtn{
  width: 189px;
  margin-top: 16px;
}