.wrap {
  position: fixed;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;

  &_dev {
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    height: 400px;

    .FakeTextarea {
      background-color: white;
      color: black;
      height: 300px;
    }
  }
}

.FakeTextarea {
  position: absolute;
  background-color: transparent;
  color: transparent;
  width: 9999px;
  resize: none;
}
