.Feature {
  width: 244px;
  margin-top: 70px;
}

.picture {
  width: 97px;
  height: 97px;
  background: #E2FBFF;
  border-radius: 50%;
  margin: 0 auto;
}

.text {
  margin-top: 11px;
  text-align: center;
}
