.container{
  width: 773px;
}
.condition{
  width: 646px;
  //margin-left: 137px;
}
.theme{
  height: 133px;
  justify-content: space-between;
  margin-top: 55px;
}
.content{
  margin-left: 80px;
}
.primary{
  margin-top: 25px;
}
.secondary{
  margin-top: 72px;
}
