.Header {
  height: 45px;
}

.mainTextColor {
  color: #2C295D;
}

.createFormBtn{
  height: 36px;
  width: 199px;
  white-space: pre;
}

.avatar{
  width: 30px;
}

.name{
  font-family: SF Pro Display;
  margin-left: 8px;
}

.leftContent{
  width: 364px;
}