.EditContent {

}

.editorBlock{
  margin-left: -35px;
}

.editor{
  border-radius: 4px;
}

.previewBlock{
  width: 680px;
  margin-left: 18px;
  height: calc(100vh - 109px);
  background: #FFFFFF;
  border-radius: 4px;
  padding: 24px 0 0 17px
}