.title {
  font-size: 26px;
  margin: 0 auto;
}

.active {
  color: #5ABFDB
}

.logInput {
  margin-top: 35px;
}

.regInput {
  margin-top: 10px;
}

.logBtn {
  margin-top: 17px;
}

.forgot {
  margin: 0 auto;
  margin-top: 9px;
  text-decoration: none;
}

.regForm {
  margin-top: 20px;
}
